{% comment %}
  Flickr photo embed include.
  Usage in a post:
    {% include flickr.html img="https://live.staticflickr.com/65535/12345_abc123_b.jpg" id="12345" alt="A pigeon on a bench" %}
{% endcomment %}
<figure class="flickr-embed">
  <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/{{ include.id }}" target="_blank" rel="noopener">
    <img
      src="{{ include.img }}"
      alt="{{ include.alt | default: 'Photo' }}"
      loading="lazy">
  </a>
  {% if include.caption %}
  <figcaption>{{ include.caption }}</figcaption>
  {% endif %}
</figure>
